<div class="tituloempresa">
  <h1></h1>
</div>
<section class="d-flex aling-item-center justify-content-center">
  <form [formGroup]="formLogin">
    <div class="row mt-4 text-center">
      <div class="col-12">
        <img src="{{ logo }}" alt="Logo" class="logo">
      </div>
      <div class="col-12">
        <input type="text" placeholder="Username" pInputText formControlName="username" name = "username" autocomplete="off">
      </div>
      <div class="col-12" mt-2>
        <input type="password" placeholder="Password" pPassword [feedback]="false" formControlName="username" id="inputPass" />
      </div>
      <div class="col-12" mt-2>
        <button pButton type="button" label="Iniciar sesión" (click)="login()"></button>
      </div>
    </div>
  </form>
</section>
